.search__container{
  @apply flex relative;
  margin-bottom: 50px;
  &::after{
    content: '';
    border-bottom: 1px solid #DADADA;
    @apply w-full -bottom-6 h-0 absolute;
  }
}

.search__box {
  @apply w-1/4;

  &:not(:last-child) {
    @apply mr-0.5;
  }

  .search__input {
    @apply w-full font-normal border-transparent p-5;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #9EA9B7;
    &:focus{
      box-shadow: 0px 0px 0px 2px #FF6F32;
    }
    &--first {
      @apply rounded-l-md;
    }

    &--last {
      @apply rounded-r-md;
    }
  }
}